.navbar{
    display: inline-flex;
    margin: 80px;
    width: 100%;
    height: 15%;
    justify-content: space-around;
}

.navbaritem {
    justify-content: space-evenly;
  }



#navBarLogo {
    top: 5px;
    left: 5px;
    height: 100%;
}

body{
    background-color: rgba(255, 104, 147, .25)
}

img{
    width: vw10;
}

a{
    text-decoration: none;
    color: yellow;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#bigheader {
    text-align: center;
}

.contentHeader {
    align-content: center;
    font-family: 'Boogaloo';
}

.content {
    align-content: flex-start;
    text-align: justify;
    width: 40%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
    font-family: 'Oxygen';
    